@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root{
    --color-bg-primary: #f4f4f4;
    --color-bg-secondary: #007bff;
    --color-bg-tertiary: #0056b3;
    --color-bg-quatenary: #ffffff;

    --color-font-primary: #f4f4f4;

    --color-hover: #ccc;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 0 20px;
}

/* --------------------------------------------------------- */
/* header styles */

header {
    background-color: var(--color-bg-secondary);
    color: var(--color-font-primary);
    padding: 15px;
    text-align: center;
}

nav {
    background-color: var(--color-bg-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-font-primary);
    text-decoration: none;
}

/* --------------------------------------------------------- */
/* form, input, button styles */

/* form input { 
    font-size: 14px;
    margin-bottom: 15px;
    border: solid 1px ;
    border-radius: 5px;
    outline: none;
    height: 30px;
    width: 250px;
    padding: 10px;
    line-height: 30px;
}

form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    width: 250px;
}

form button:hover {
    background-color: var(--color-border);
} */

/* --------------------------------------------------------- */
/* generic styles */

.logo a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.logo h1 {
    font-size: 24px;
    font-weight: 700;
}


/* --------------------------------------------------------- */
/* footer styles */

footer {
    background-color: var(--color-bg-secondary);
    color: var(--color-font-primary);
    text-align: center;
    padding: 15px;
    width: 100%;
}
